.parent{
  display: flex;
  flex-flow: wrap-reverse;
  justify-content:space-evenly;
}
.parent > div{
  width: 280px;
  height: auto;
  margin: 5px;
  padding: 50px;
  border: solid 1px grey; 
}
.parent > .div1{
  width: 250px;
  height: 157px;
  font-size: 30px;
  background-image: url("./img/halmets.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.parent > .div2 {
  font-size: 30px;
  width: 250px;
  height: 157px;
  background-image: url("./img/parts.jpg");
  background-repeat: no-repeat;
}

.title {
  margin-top: -20%;
  border-radius: 0 25px 25px;
  background: black;
  width: 200px;
  height: 257px;
  opacity: 0.6;
  font-weight: bold;
  color: white;
  line-height: 300px;
  text-align: left;
}
.title:hover {
  width: 250px;
  opacity: 0.4;
  color: rgb(255, 255, 255);
}
img {
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
  } 
  
  .name {
    font-size: 0.9em;
    color: gray;
  }
  .name1 {
    color: black;
  }
  span{
    width: 300px;
    text-align: center;
    font-size: 20px;
  }
  .price{
    color: red;
  }
  .show{
    white-space: nowrap; 
    width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .hide{
    width: 290px; 
    height: auto;
    font-size: 0.9em;
  }

  button {
    background: rgb(224, 100, 100);
    color: white;
    margin-left: 35%;
    width: 80px;
  }
  button:hover {
    background: rgb(119, 58, 58);
  }